<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>App</title>
</head>

<body>
    <a href={{link}}>

        <button>
            Return to app
        </button>
    </a>
</body>

</html>